body {
    background-image: url('/static/images/bg.jpg');
    background-size: cover; /* чтобы изображение заполняло всю область */
    /* background-repeat: no-repeat; /*чтобы изображение не повторялось */
}

.navbar {
    background-color: rgba(66, 66, 66, 0.2) !important;
}

.navbar-nav .nav-link {
    transition: text-decoration 0.3s ease, font-size 0.3s ease; /* Добавляем плавный эффект */
    color: #cacaca;
}

.navbar-nav .nav-link:hover {
    text-decoration: underline;
    font-size: 1.1em; 
    color: #e7e7e7;
}

.custom-mt-15 {
    margin-top: 15rem; /* или любое другое значение в пикселях, em, или rem */
}

.custom-mt-10 {
    margin-top: 10rem; /* или любое другое значение в пикселях, em, или rem */
}

@keyframes pulse {
    0% { transform: scale(1); opacity: 1; }
    50% { transform: scale(1.1); opacity: 0.8; }
    100% { transform: scale(1); opacity: 1; }
}

.logo {
    animation: pulse 3s infinite alternate;
}

.start_game {
    box-shadow: #e7e7e7;
}

.custom-bg-color {
    background-color: rgba(0, 0, 0, 0.5) !important; /* задаем цвет фона с прозрачностью */
    border-radius: 10px !important; /* задаем радиус закругления углов */
    padding: 20px !important; /* добавляем немного отступа для визуального разделения элементов */
}

.custom-list-group-item {
    background-color: rgba(66, 66, 66, 0.3); /* Серый цвет с прозрачностью */
    border: none; /* Удаление рамки */
    margin-bottom: 10px; /* Отступ между блоками */
    transition: background-color 0.3s; /* Плавный переход цвета */
    border-radius: 5px; /* Закругленные углы */
}

.custom-list-group-item:hover {
    background-color: rgba(66, 66, 66, 0.5); /* Немного темнее при наведении */
}

.custom-list-group-item a {
    color: rgba(255, 255, 255, 0.7); /* Цвет ссылки */
    text-decoration: none; /* Удаление подчеркивания */
}

.custom-list-group-item a:hover {
    text-decoration: underline; /* Подчеркивание при наведении */
}

.custom-list-group-item small,
.custom-list-group-item .badge {
    color: rgba(255, 255, 255, 0.6); /* Цвет времени и тегов */
}

.custom-card {
    background-color: rgba(66, 66, 66, 0.3);
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

.custom-card:hover {
    box-shadow: 0 0 10px rgba(66, 66, 66, 0.5);
}

.custom-notes-title{
    color: rgba(255, 255, 255, 0.95) !important; /* Цвет текста */
    text-decoration: none; /* Удаление подчеркивания */
}

.custom-notes-title:hover{
    text-decoration: underline; /* Подчеркивание при наведении */
}

.custom-notes-text{
    color: rgba(255, 255, 255, 0.8); /* Цвет текста */
}

.tags {
    color: rgba(255, 255, 255, 0.6); /* Цвет тегов */
    margin-top: 8px;
}

.custom_tag{
    font-size: small;
    color: rgba(255, 255, 255, 0.7); /* Цвет ссылки */
    text-decoration: none; /* Удаление подчеркивания */
}

.custom_tag:hover{
    text-decoration: underline; /* Подчеркивание при наведении */
}

.pagination {
    margin-top: 20px;
}

.pagination .page-link {
    color: #333;
}

.pagination .page-link:hover {
    color: #007bff;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-link:focus {
    box-shadow: none;
}

.new-note-link {
    text-align: right;
    margin-bottom: 10px;
}
