{% extends "base.html" %} 

{% load static %}

{% block title %}
    Новий тег
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'create_tag' %}">
    {% csrf_token %}
    <div style="padding: 10px">
        <label>Назва тегу:
            {{form.name}}
        </label>
        <span>{{form.errors.name}}</span>
    </div>
    <div class="grid">
        <button type="submit">Зверегти</button>
        <button type="reset" class="secondary">Скасувати</button>
    </div>
</form>
{% endblock %}