{% extends "base.html" %}
{% load custom_filters %}

{% block title %}
    Скидання пароля
{% endblock %}

{% block content %}
<br>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-header bg-light text-dark">
                    <h2 class="text-center">Скидання пароля</h2>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {{ form.email.label_tag }}
                            {{ form.email|add_class:"form-control" }}
                            {% if form.email.errors %}
                                <div class="invalid-feedback d-block">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-primary w-30 mt-3">Відновити пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
