{% extends "base.html" %}

{% block title %} Реєстрація {% endblock %}

{% block content %} 
<div id="login">
    <div class="container custom-mt-15">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6 bg custom-bg-color">
                <div id="login-box" class="col-md-12">
                    <form method="post" action="{% url 'register' %}">
                        {% csrf_token %}
                        <h3 class="text-center text-light">Реєстрація</h3>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label text-light">Почта:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp">
                          </div>
                        <div class="mb-3">
                          <label for="exampleInputPassword1" class="form-label text-light">Пароль:</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" name="password1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword2" class="form-label text-light">Повторіть пароль:</label>
                            <input type="password" class="form-control" id="exampleInputPassword2" name="password2">
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label text-light" for="exampleCheck1" name='checkbox'>Я ознайомлений з правилами </label>
                          </div>
                        <button type="submit" class="btn btn-primary">Зареєструватися</button>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
