{% extends "base.html" %}

{% block title %}
    Нотатки
{% endblock %}

{% block content %}
<br><br>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="new-note-link mb-3">
                <a href="{% url 'create_note' %}" class="btn btn-success">Створити нову нотатку</a>
            </div>
            {% for note in notes_on_page %}
            <div class="card mb-3 custom-card">
                <div class="card-body">
                    <h5 class="card-title custom-notes-title">
                        <a href="{% url 'view_note' note_id=note.id %}" class="text-dark custom-notes-title">{{ note.title }}</a>
                    </h5>
                    <p class="card-text custom-notes-text">{{ note.content }}</p>
                    <div class="tags">
                        <strong>Теги:</strong>
                        {% for tag in note.tags.all %}
                        <a href="{% url 'sort_notes_by_tag' tag_name=tag.name %}" class="badge text-light custom_tag">{{ tag.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center"> <!-- Центрируем пагинацию -->
        <div class="col-md-8">
            <div class="pagination mt-4">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        {% if notes_on_page.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ notes_on_page.previous_page_number }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        {% endif %}

                        <li class="page-item disabled">
                            <span class="page-link">Сторінка {{ notes_on_page.number }} з {{ notes_on_page.paginator.num_pages }}</span>
                        </li>

                        {% if notes_on_page.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ notes_on_page.next_page_number }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
{% endblock %}
